<section class="maquinaria-lista ideal">

    <div class="ui-status empty">
        No hay ninguna máquina.
    </div>

    <div class="ui-status error">
        Se ha producido un error
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>

    <div class="ui-status ideal">

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/amalfi211foto2.png" alt="foto amalfi"></a>
            <div class="modelo">Amalfi 211</div>
            <div class="marca">KLIMAGEL</div>

        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/capriplus114foto2.png" alt="foto capri"></a>
            <div class="modelo">Capri 114</div>
            <div class="marca">KLIMAGEL</div>

        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/firenze118foto2.png" alt="foto firenze"></a>
            <div class="modelo">Firenze 118</div>
            <div class="marca">KLIMAGEL</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/portofino214foto2.png" alt="foto portofino"></a>
            <div class="modelo">Portofino 214</div>
            <div class="marca">KLIMAGEL</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/roma218foto2.png" alt="foto roma218"></a>
            <div class="modelo">Roma 218</div>
            <div class="marca">KLIMAGEL</div>
        </article>

        <article class="maquina"> 
            <a href="detalle2.html">
            <img class="foto" src="img/nevera1.png" alt="foto amazing "></a>
            <div class="modelo">Amazing</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera2.png" alt="foto virna"></a>
            <div class="modelo">Virna</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera4.png" alt="foto gemma J"></a>
            <div class="modelo">Gemma J</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera5.png" alt="foto deeva"></a>
            <div class="modelo">Deeva</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera6.png" alt="foto virna recta"></a>
            <div class="modelo">Virna recta</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera7.png" alt="foto proxima"></a>
            <div class="modelo">Proxima</div>
            <div class="marca">FB</div>
        </article>

        <article class="maquina">
                <a href="detalle2.html">
            <img class="foto" src="img/nevera8.png" alt="foto lumina"></a>
            <div class="modelo">Lumina</div>
            <div class="marca">FB</div>
        </article>



    </div>
</section>