<div class="bloque container">
    <div class="ranking-container">
        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Ficha técnica</h2>
                <p class="texto">
                    <br>
                    <span class="neg">Capacidad del tanque:</span> 1 x 14 litros (neto para el modelo de bomba 1x7,5 litros).
                    <br>
                    <span class="neg">Volumen del cilindro</span> 1,95 litros.
                    <br>Marco desmontable.
                    <br>
                    <span class="neg">Condensación:</span> agua o aire.
                    <br>
                    <span class="neg">Sistema de producción:</span> bomba o gravedad.
                    <br>Sistema de control y funcionamiento electromecánico.
                    <br>
                    <span class="neg">Producción por hora de conos</span>(75gr):
                    <br>
                    <span class="cur">290 piezas de la versión de bomba.</span>
                    <br>
                    <span class="cur">240 piezas de la versión de gravedad.</span>
                    <br>Cilindro de congelación automático con programación del nivel de consistencia del producto.
                    <br>
                    <span class="neg">Ahorro de energía</span> por regulación del tiempo de producción.


                </p>

            </div>
            <img class="img-ranking" src="./img/capri-at.png" alt="">
        </div>

        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Opciones</h2>
                <p class="texto">
                    <br>Sistema de
                    <span class="neg">autoservicio</span> que permite configurar el suministro de cantidad de helado con un sistema de palanca
                    automático.
                    <br>Batidor de 
                    <span class="neg"> acero inoxidable.</span>
                    <br>Bandeja de goteo de
                    <span class="neg"> acero inoxidable.</span>
                    <br>
                    <span class="cur">El diseño frontal se puede personalizar.</span>
                </p>

            </div>
            <img class="img-ranking" src="./img/capri-izq.png" alt="">
        </div>
    </div>

    <div class="title-ranking">
        <h1>Especificaciones</h1>
    </div>
</div>